{
    parser: "babel-eslint",
    extends: "eslint:recommended",
    ecmaFeatures: {
        "modules": true
    },
    plugins: [
        "spellcheck",
        "cflint"
    ],
    rules: {
        "strict": 2,
        "quotes": [2, "single", "avoid-escape"],
        "linebreak-style": [2, "unix"],
        "curly": 2,
        "indent": [2, 2],
        "no-alert": 2,
        "object-shorthand": [2, "methods"],
        "no-spaced-func": 2,
        "valid-jsdoc": [1,
            {
                "prefer": {
                    "return": "returns"
                },
                "requireParamDescription": false,
                "requireReturn": false,
                "requireReturnDescription": false
            }
        ],
        "cflint/no-substr": 2,
        "spellcheck/spell-checker": [1,
           {
               "comments": "true",
               "strings": "true",
               "identifiers": "true",
               "skipWords": [
                   "asin","arcsine","acosine","tg",
                   "lt","gt",
                   "aff",
                   "args",
                   "bdd",
                   "boolean",
                   "cb",
                   "chai", "Chai",
                   "config", "Config",
                   "concat",
                   "dest",
                   "dict",
                   "dist",
                   "dont",
                   "dom", "Dom", "DOM",
                   "eslint",
                   "exponentiate",
                   "fallthrough",
                   "globals", "Globals",
                   "http", "Http",
                   "jsdoc",
                   "js", "json",
                   "len",
                   "lex",
                   "ltrim",
                   "md",
                   "param", "params", "Params",
                   "Ns",
                   "precompute",
                   "preferrable",
                   "pos", "Pos",
                   "rb",
                   "rtrim",
                   "sem",
                   "sinon", "Sinon",
                   "simplifiable", "Simplifiable",
                   "subparse",
                   "substring",
                   "stderr",
                   "src",
                   "str",
                   "tokenize", "Tokenize", "tokenized", "tokenizing",
                   "validator", "Validator",
                   "unescaped",
                   "unparsed", "Unparsed",
                   "utils"
                ],
                "skipIfMatch": [
                    "http://[^s]*"
                ]
            }
        ]
    },
    globals: {
    },
    "env": {
        "browser": true,
        "node": true
    }
}
