{
    parser: "babel-eslint",
    extends: [
      "eslint:recommended",
      "./.eslintspellcheck"
    ],
    ecmaFeatures: {
        "modules": true
    },
    plugins: [
        "cflint"
    ],
    rules: {
        "strict": 2,
        "quotes": [2, "single", "avoid-escape"],
        "linebreak-style": [2, "unix"],
        "curly": 2,
        "indent": [2, 2],
        "no-alert": 2,
        "object-shorthand": [2, "methods"],
        "no-spaced-func": 2,
        "valid-jsdoc": [1,
            {
                "prefer": {
                    "return": "returns"
                },
                "requireParamDescription": false,
                "requireReturn": false,
                "requireReturnDescription": false
            }
        ],
        "cflint/no-substr": 2,
    },
    globals: {
    },
    "env": {
        "browser": true,
        "node": true
    }
}
